/* App.css */

/* Application wrapper */
.app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

/* Grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(15, 25px);
  /* 15 columns */
  grid-template-rows: repeat(20, 25px);
  /* 20 rows */
  gap: 2px;
  /* Space between cells */
  margin: 20px auto;
  background: transparent;
  /* background-color: black; */
  border: 2px solid #ff6699;
  border-radius: 8px;
  width: max-content;
  height: max-content;
}

/* Individual cell */
.cell {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  /* Default transparent */
  transition: background-color 0.1s linear;
  /* Smooth fading effect */
}

/* Add color-changing animation */
@keyframes colorChange {
  25% {
    background: linear-gradient(180deg, #FFFACD 0%, rgba(0, 0, 0, 0) 100%);
  }
  50% {
    background: linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  100% {
    background: linear-gradient(180deg, #99FFFF 0%, rgba(0, 0, 0, 0) 100%);
  }
}